@charset "UTF-8";
.underline:hover {
    text-decoration: underline;
}
.tc {
	text-align:center;
}
.cp {
	cursor:pointer;
}


.ml10{
	margin-left:10px;
}
.mb10{
	margin-bottom:10px;
}
.mt10{
	margin-top:10px;
}

img {
  max-width: 100%;
  height: auto;
}

.toe{
	text-overflow:ellipsis; 
	overflow:hidden;
	white-space:nowrap;
}

a.main {
	color:#46a2e8;
}